@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

@media (max-width: 400px) {
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }
}
button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../../svg/showcase.svg);
  width: 100%;
  height: 785px;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_links {
  display: flex;
  gap: 30px;
}

.navbar_links ul li a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
  text-align: left;
  color: #FDFDFD;
  transition: 0.4s linear;
}

.navbar_links ul li a:hover {
  color: #1A3E3E;
}

.navbar_button {
  width: 157px;
  height: 44px;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #1A3E3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: #FDFDFD;
  border: none;
  transition: 0.3s linear;
}

.navbar_button:hover {
  color: #1A3E3E;
  background-color: transparent;
  border: 1px solid #1A3E3E;
}

.checkbox {
  display: none;
}

@media (min-width: 1200px) {
  .navbar_menu {
    display: none;
  }
}
@media (max-width: 1200px) {
  .links {
    top: 0;
    left: -100%;
    position: fixed;
    width: 50%;
    background-color: #1A3E3E;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    z-index: 999;
  }
  .navbar_links ul li a:hover {
    color: #F2BE22;
  }
  #check:checked ~ .links {
    left: 0;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .navbar_button {
    display: none;
  }
}
.showcase {
  margin-top: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  background-image: url(../../svg/form.svg);
  width: 100%;
  height: 161px;
  border-radius: 10px;
  align-items: center;
}

.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.showcase_text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.02em;
  color: #FDFDFD;
}

.form1_indide1 #cars,
.form2_inside1 #birthday,
.form3_inside1 #car {
  width: 270px;
  height: 52px;
  padding: 0px 16px;
  border-radius: 8px;
  border: 1px solid #E1E3E4;
  background-color: transparent;
  outline: none;
}

.showcase_btn {
  width: 213px;
  height: 52px;
  gap: 10px;
  border-radius: 4px;
  background-color: #FDFDFD;
  color: #1A3E3E;
  font-size: 16px;
  font-weight: 700;
  border: none;
  transition: 0.3s linear;
}

.showcase_btn:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
  border: none;
}

.form_wrapper {
  padding-top: 40px;
  align-items: center;
}

.form1_inside2 p,
.form2_inside2 p,
.form3_inside2 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FDFDFD;
}

@media (max-width: 1300px) {
  .form1 {
    display: none;
  }
}
@media (max-width: 1050px) {
  .form2 {
    display: none;
  }
}
@media (max-width: 740px) {
  .form3 {
    display: none;
  }
  .form {
    background-image: none;
    width: 0%;
    height: 0%;
    border-radius: 10px;
    align-items: center;
  }
  .showcase_text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #FDFDFD;
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 545px) {
  .showcase_text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    color: #FDFDFD;
    width: 100%;
  }
  .showcase {
    margin-top: 180px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 420px) {
  .showcase {
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .showcase_text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    color: #FDFDFD;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .showcase_text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    color: #FDFDFD;
    width: 100%;
  }
}
.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about_left_and_right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about_right p {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #F2BE22;
}

.about_right h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: left;
  color: #18121E;
}

.about_right h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #18121E;
}

.about_btn {
  width: 200px;
  height: 52px;
  border-radius: 4px;
  background-color: #1A3E3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: #FDFDFD;
  transition: 0.4s;
}

.about_btn:hover {
  background-color: #FDFDFD;
  color: #1A3E3E;
  border: 2px solid #1A3E3E;
}

.about_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1110px) {
  .about_left_and_right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about_left img {
    width: 100%;
  }
}
.o_inside1 h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #F2BE22;
}

.o_inside1 h2 {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: left;
  color: #18121E;
}

.o_inside1 p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #18121E;
}

.k_k h3 {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.012em;
  text-align: left;
  color: #18121E;
}

.k_k p {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

.our_btn {
  width: 236px;
  height: 52px;
  border-radius: 4px;
  background-color: #1A3E3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: #FDFDFD;
  border: none;
  transition: 0.3s linear;
}

.our_btn:hover {
  background-color: #FDFDFD;
  color: #1A3E3E;
  border: 2px solid #1A3E3E;
}

.o_inside1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.o_inside2 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.our_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our_left_and_right {
  display: flex;
  gap: 30px;
}

.img_divs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1350px) {
  .our_left_and_right {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .img_divs {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.famous {
  margin-top: 50px;
  margin-bottom: 50px;
}

.f_title {
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.f_title h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #F2BE22;
}

.f_title h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: center;
  color: #18121E;
}

.f_card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.f_item {
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.f_btn {
  width: 244px;
  height: 52px;
  border-radius: 4px;
  background-color: #1A3E3E;
  border: none;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.012em;
  transition: 0.3s;
}

.f_btn:hover {
  background-color: #FDFDFD;
  border: 2px solid #1A3E3E;
  color: #1A3E3E;
}

@media (max-width: 500px) {
  .f_card img {
    width: 100%;
    align-items: left;
  }
}
.blog {
  margin-top: 50px;
  margin-bottom: 50px;
}

.b_title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.b_title h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #F2BE22;
}

.b_title h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: center;
  color: #18121E;
}

.right h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #18121E;
}

.right p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #18121E;
}

.internet {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.internet p {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #F2BE22;
}

.internet h3 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #1A3E3E;
}

.b_card {
  display: flex;
  gap: 10px;
  box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.1215686275);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.b_cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 30px;
  padding: 20px;
}

@media (max-width: 1250px) {
  .b_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .b_card {
    display: flex;
    gap: 20px;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.1215686275);
  }
}
@media (max-width: 800px) {
  .right {
    display: none;
  }
  .b_card {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: none;
  }
  .left img {
    width: 100%;
  }
}
.p_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.p_title h3 {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #F2BE22;
}

.p_title h2 {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: center;
  color: #18121E;
}

.photo_divs {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.photo_div,
.photo_div2 {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .photo_div img,
  .photo_div2 img {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }
}
.footer {
  background-color: #1A3E3E;
  padding: 50px;
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gvhbdaa h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #F3F5F4;
}

.gvhbdaa h3:hover {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #F2BE22;
}

.dasq p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
  width: 50%;
}

.dasq p:hover {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #F2BE22;
  width: 50%;
}

.footer_fonts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer2,
.footer3 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 50%;
}

.footer2 h3,
.footer3 h3 {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #F3F5F4;
}

.footer2 h3:hover,
.footer3 h3:hover {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #F2BE22;
}

.footer2 p,
.footer3 p {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #FDFDFD;
}

.footer2 p:hover,
.footer3 p:hover {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #F2BE22;
}

@media (max-width: 1000px) {
  .footer_wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
